.navbar-main{
 display: flex;
 justify-content:space-between;
 padding:15px 50px 15px 50px;
}
.navbar-2{
    display:flex;
    width:50%;
    font-size :18px;
    color:GREY;
    justify-content:space-between;
    padding-top:5px;

}
.nav-btn{
    color:white;
    background-color:rgb(148,198,62);
    padding:5px 10px 5px 10px;
    margin-top:-5px
}
.nav-logo{
    width:120px;
    height:33px;
    padding-top:7px;
}
.banner-content{
    position:absolute;
    bottom:10px;
    left:16px;
    width: 50%;
    height:100%;
    margin-left: -17px;
    margin-bottom: -10px;
    text-align: left;
}
.banner-main{
    position: relative;
    text-align: center;
    color:rgb(228, 225, 225);
}
.banner-head{
    font-size:30px;
    width:70%;
    margin-left:60px;
    margin-bottom: 30px;
    margin-top: 20px;
}
.banner-para{
    font-size:25px;
    margin-bottom: 40px;
    width:90%;
    margin-left:60px;
}
.banner-btn{
    font-size:22px;
    padding:15px 15px 15px 15px;
    width:270px;

}
.green{
    background-color:rgb(148,198,62);
    margin-right:20px;
    margin-left:60px;
}
.grey{
    background-color:rgb(82,92,105)
}
.benefit-card{
    width:250px;
    height: 250px;
    background-color:rgb(238,241,245);
    padding:20px;
}
.benefit-img{
    margin:auto;
}
.benefit-head{
    font-weight:600;
    color:rgb(64, 65, 65);
    margin:15px 0px 15px 0px;
}
.benefit-div{
    display: flex;
    justify-content: space-between;
    width:85%;
    margin:auto;
}
.benefit-mainhead{
    font-size: 34px;
    margin:40px 0px 40px 0px;
    color:rgb(101,102,102)
}
.rating-para{
   width:250px;
   height:280px;
    background: whitesmoke;
    border-radius: 18px;
    text-align:center;
    padding-top:45px;
    
}
.rating-img{
    object-fit: cover;
    object-position: center;
    margin-bottom:-46px; 
    margin-left:calc(215px - 156px);
}
.rating-star-main{
padding-top:50px
}
.rating-div{
    top: 10%;
    transform:translate(0, 10%);

}
.rating-p1{
    font-weight: 600;
    font-size:18px;
    margin-top:10px
}
.rating-p3{
    color:rgb(101,102,102);
    font-size:18px;
    margin:0px 0px 15px 0px;

}
.rating-p2{
    text-align:left;
    padding:10px;
}
.rating-lap{
position:absolute;
margin-left: -100px;
}
.rating-video{
    position: relative;
    left:-10px;
    top:50px;
}
.rating-main{
    display:flex;
    justify-content: space-between;
    padding:20px 80px 20px 80px;
   
}
.rating-star{
    display:flex;
    margin-bottom: 20px;
}
.rating-star-img{
    margin-right: 20px;
}
.rating-roundbg{
    background-color: rgb(82,92,105);
    height:350px;
    border-radius: 60% 60% 0% 0%
}
.rating-connect{
    display:flex;
    padding-top: 11%;
    padding-left: 22.5%;
    color:white;
    font-size:25px;
}
.rating-icons{
font-size:35px;
}
.icon-main{
    margin:auto;
}
.dots{
    margin:35px;
}
.rating-trial{

}
.rating-email,.rating-password{
    background-color:rgba(0, 0, 0, 0.47);
    width: 250px;
    height:60px;
    font-size:25px;
    color:white;
    padding:10px;
    margin-right: 20px;

}
.rating-email::placeholder,.rating-password::placeholder{
    color:white;
}
.btn-trial{
    color:white;
    background-color:rgb(148,198,62);
    padding:10px;
    width: 300px;
    height:58px;
    font-size:25px;
}
.dash-head{
    font-size:30px;
}
.dash-cat{
    display:flex;
    font-size:25px;
    width: 70%;
    justify-content: space-between;
    margin:auto;
    background-color:whitesmoke;
    padding:10px;
}
.dash-content{
    height:300px;
    border: 1px solid red;
    box-shadow: rgba(42, 42, 42, 0.248) 0px 6px 6px 0px;
}
.dash-btn{
    color:white;
    background-color:rgb(148,198,62);
    padding:10px;
    width: 300px;
    height:58px;
    font-size:25px;
}
.dash-headlower{
    font-size:30px;
    margin-bottom: 20px;
}
.dash-lower{
    box-shadow: rgb(42, 42, 42, 0.248) 0px 3px 3px 0px;
    padding-top:100px;
    padding-bottom: 100px;
}
.feature-box{
    width: 200px;
    text-align:center;
    background-color:whitesmoke
}
.feature-img{
    margin:auto;
}
.feature-div{
    display:flex;
    width:85%;
    justify-content: space-between;
    margin:auto;
    margin-top:30px;
    margin-bottom: 20px;
}
.feature-head{
    font-size:25px;
    font-weight:bold;
    background-color:rgb(58,65,80);
    color:white;
    padding:0px 10px 0px 10px ;
}
.feature-img{
    width:100px;
    height:90px;
}
.feature-heading{
    font-size:30px;
    margin:20px 0px 20px 0px;
}
.feature-p{
    width:85%;
    height:100px;
    margin:auto;
    padding:10px;
}
.feature-main{
    box-shadow: rgba(42, 42, 42, 0.248) 0px 6px 6px 0px;
    padding-bottom: 30px;
}
.over-head{
    font-size:30px;
    margin-bottom: 20px;
}
.over-btn{
    color:white;
    background-color:rgb(148,198,62);
    padding:10px;
    width: 300px;
    height:58px;
    font-size:22px;
}
.over-main{
    padding-top:100px;
    padding-bottom: 100px;
    box-shadow: rgba(42, 42, 42, 0.248) 0px 3px 3px 0px;
}
.explore-main{
    display: flex;
    width: 85%;
    margin:auto;
}
.explore-head{
    font-size:30px;
    margin-top:60px;
    margin-bottom:100px;
}
.explore-btn{
    color:white;
    background-color:rgb(148,198,62);
    padding:10px;
    width: 300px;
    height:58px;
    font-size:22px;
}
.explore-div{
    width: 70%;
    text-align:left;
    margin-left:40px;
}
.explore-p{
    margin-bottom: 40px;
    font-size: 18px;
}
.explore-lower{
    display:flex;
}
.explore-headlower{
    font-size:27px;
    font-weight:400;
}