.navbar-main{
 display: flex;
 justify-content:space-between;
 padding:15px 50px 15px 50px;
 position:fixed;
 top: 0;
 width: 100%;
 background-color:white;
 z-index: 1;
}
.navbar-2{
    display:flex;
    width:50%;
    font-size :18px;
    color:GREY;
    justify-content:space-between;
    padding-top:5px;

}
.navbar-menu{
    z-index: 2;
}
.nav-btn{
    color:white;
    background-color:rgb(148,198,62);
    padding:5px 10px 5px 10px;
    margin-top:-5px
}
.nav-logo{
    width:120px;
    height:33px;
    padding-top:7px;
}
.banner-content{
    position:absolute;
    bottom:10px;
    left:16px;
    width: 50%;
    height:100%;
    margin-left: -17px;
    margin-bottom: -10px;
    text-align: left;
}
.banner-main{
    text-align: center;
    color:rgb(228, 225, 225);
    margin-top:70px;
}
.banner-head{
    font-size:30px;
    width:70%;
    margin-left:60px;
    margin-bottom: 30px;
    margin-top: 20px;
}
.banner-para{
    font-size:25px;
    margin-bottom: 40px;
    width:90%;
    margin-left:60px;
}
.banner-btn{
    font-size:22px;
    padding:15px 15px 15px 15px;
    width:270px;

}
.green{
    background-color:rgb(148,198,62);
    margin-right:20px;
    margin-left:60px;
}
.grey{
    background-color:rgb(82,92,105)
}
.benefit-card{
    width:250px;
    height: 250px;
    background-color:rgb(238,241,245);
    padding:20px;
}
.benefit-img{
    margin:auto;
}
.benefit-head{
    font-weight:600;
    color:rgb(64, 65, 65);
    margin:15px 0px 15px 0px;
}
.benefit-div{
    display: flex;
    justify-content: space-between;
    width:85%;
    margin:auto;
}
.benefit-mainhead{
    font-size: 34px;
    margin:40px 0px 40px 0px;
    color:rgb(101,102,102)
}
.rating-para{
   width:250px;
   height:280px;
    background: whitesmoke;
    border-radius: 18px;
    text-align:center;
    padding-top:45px;
    
}
.rating-img{
    object-fit: cover;
    object-position: center;
    margin-bottom:-46px; 
    margin-left:calc(215px - 156px);
}
.rating-star-main{
padding-top:50px
}
.rating-div{
    top: 10%;
    transform:translate(0, 10%);

}
.rating-p1{
    font-weight: 600;
    font-size:18px;
    margin-top:10px
}
.rating-p3{
    color:rgb(101,102,102);
    font-size:18px;
    margin:0px 0px 15px 0px;

}
.rating-p2{
    text-align:left;
    padding:10px;
}
.rating-lap{
position:absolute;
margin-left: -100px;
}
.rating-video{
    position: relative;
    left:-10px;
    top:50px;
}
.rating-main{
    display:flex;
    justify-content: space-between;
    padding:20px 80px 20px 80px;
   
}
.rating-star{
    display:flex;
    margin-bottom: 20px;
}
.rating-star-img{
    margin-right: 20px;
}
.rating-roundbg{
    background-color: rgb(82,92,105);
    height:350px;
    border-radius: 60% 60% 0% 0%
}
.rating-connect{
    display:flex;
    padding-top: 11%;
    padding-left: 22.5%;
    color:white;
    font-size:25px;
}
.rating-icons{
font-size:35px;
}
.icon-main{
    margin:auto;
}
.dots{
    margin:35px;
}
.rating-trial{

}
.rating-email,.rating-password{
    background-color:rgba(0, 0, 0, 0.47);
    width: 250px;
    height:60px;
    font-size:25px;
    color:white;
    padding:10px;
    margin-right: 20px;

}
.rating-email::placeholder,.rating-password::placeholder{
    color:white;
}
.btn-trial{
    color:white;
    background-color:rgb(148,198,62);
    padding:10px;
    width: 300px;
    height:58px;
    font-size:25px;
}
.dash-head{
    font-size:30px;
    color:rgb(101,102,102);
}
.dash-cat{
    display:flex;
    font-size:25px;
    width: 70%;
    justify-content: space-between;
    margin:auto;
    background-color:whitesmoke;
    padding:10px;
}
.dash-content{
    height:300px;
    border: 1px solid red;
    box-shadow: rgba(42, 42, 42, 0.248) 0px 6px 6px 0px;
}
.dash-btn{
    color:white;
    background-color:rgb(148,198,62);
    padding:10px;
    width: 300px;
    height:58px;
    font-size:25px;
}
.dash-headlower{
    font-size:30px;
    margin-bottom: 20px;
    color:rgb(101,102,102);
}
.dash-lower{
    box-shadow: rgb(42, 42, 42, 0.248) 0px 3px 3px 0px;
    padding-top:100px;
    padding-bottom: 100px;
}
.feature-box{
    width: 200px;
    text-align:center;
    background-color:whitesmoke
}
.feature-img{
    margin:auto;
}
.feature-div{
    display:flex;
    width:85%;
    justify-content: space-between;
    margin:auto;
    margin-top:30px;
    margin-bottom: 20px;
}
.feature-head{
    font-size:25px;
    font-weight:bold;
    background-color:rgb(58,65,80);
    color:white;
    padding:0px 10px 0px 10px ;
}
.feature-img{
    width:100px;
    height:90px;
}
.feature-heading{
    font-size:30px;
    margin:20px 0px 20px 0px;
    color:rgb(101,102,102);
}
.feature-p{
    width:85%;
    height:100px;
    margin:auto;
    padding:10px;
}
.feature-main{
    box-shadow: rgba(42, 42, 42, 0.248) 0px 6px 6px 0px;
    padding-bottom: 30px;
}
.over-head{
    font-size:30px;
    margin-bottom: 20px;
    color:rgb(101,102,102);
}
.over-btn{
    color:white;
    background-color:rgb(148,198,62);
    padding:10px;
    width: 300px;
    height:58px;
    font-size:22px;
}
.over-main{
    padding-top:100px;
    padding-bottom: 100px;
    box-shadow: rgba(42, 42, 42, 0.248) 0px 3px 3px 0px;
}
.explore-main{
    display: flex;
    width: 85%;
    margin:auto;
}
.explore-head{
    font-size:30px;
    margin-top:60px;
    margin-bottom:100px;
    color:rgb(101,102,102);
}
.explore-btn{
    color:white;
    background-color:rgb(148,198,62);
    padding:10px;
    width: 300px;
    height:58px;
    font-size:22px;
}
.explore-div{
    width: 70%;
    text-align:left;
    margin-left:40px;
}
.explore-p{
    margin-bottom: 40px;
    font-size: 18px;
}
.explore-lower{
    display:flex;
    width:70%;
    margin:auto;
    justify-content:space-between;
    margin-top:30px;
    margin-bottom: 30px;
}
.explore-headlower{
    font-size:20px;
    font-weight:500;
    color:rgb(101,102,102);
}
.explore-img{
    height:30px;
    width:130px;
}
.explore{
    border-bottom: 1px solid rgb(206, 208, 208) ;
}

.people_img{
    height: 200px;
    width: 257px;
}

.people_wrap {
    position: relative;
    height: 200px;
    width: 257px;
  }
  
  .people_description_layer {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(50, 50, 50, 0.816);
    color: #fff;
    visibility: hidden;
    opacity: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: opacity .2s, visibility .2s;
  }
  
  .people_wrap:hover .people_description_layer {
    visibility: visible;
    opacity: 1;
    height: 200px;
    width: 257px;
  } 
  .people-main{
    display: flex;
    margin-top: 40px;
  }
  .people-email,.people-password{
    background-color:rgba(0, 0, 0, 0.47);
    width: 250px;
    height:60px;
    font-size:25px;
    color:white;
    padding:10px;
    margin-right: 20px;
  }
  .people-btn{
    color:white;
    background-color:rgb(148,198,62);
    padding:10px;
    width: 300px;
    height:58px;
    font-size:25px;
  }
  .people-email::placeholder,.people-password::placeholder{
    color:white;
}
.people-lower{
    background-color:rgb(82,92,105);
}
.people-head{
    color:white;
    font-size:30px;
    padding-top:50px;
    margin-bottom:30px;
}
.people-p{
    color:white;
    font-weight: 400;
    margin-bottom:30px;
}
.people-low{
    padding-bottom: 20px;
}
.blog-div{
    display:flex;
    width:80%;
    justify-content:space-between;
    text-align:left;
    margin:auto;
    margin-top:70px;
    margin-bottom:100px;
}
.blog-box{
    width:30%;
}
.blog-span{
    display:flex;
    margin-top:20px;
    color:rgb(148,198,62)
}
.blog-icon{
    margin-top:5px;
    margin-right:10px;
}
.blog-para:hover,.blog-para1:hover,.blog-para2:hover{
    font-weight: bold;
}
.blog-h3{
    font-size:20px;
    color:rgb(101,102,102);
    margin-bottom:17px;
    font-weight: 500;
}
.blog-p2{
    font-size:17px;
}
.blog-p{
    margin-bottom: 10px;
}
.blog-head{
    font-size:30px;
    margin-top:80px;
}
.footer-first{
    display:flex;
    background-color:rgb(82,92,105);
    justify-content:space-around;
    font-size:17px;
    padding:30px 140px 30px 140px;
    color:white;
    text-align:left;
    line-height: 37px;
}
.footer-head{
    font-weight: 500;
}
.footer-sec{
    display:flex;
    justify-content:space-between;
    font-size: 20px;
}
.footer-div{
    width: 72%;
    text-align:left;
    margin-top:30px;
    margin-bottom: 20px;
}
.footer-box{
    display:flex;
    justify-content: space-between;
    padding:40px 160px 40px 160px;
}
.footer-icon{
    display:flex;
    width:300px;
    justify-content:space-between;
    font-size:40px;
    color:white;
}
.foot-icon{
    padding:10px;
    border-radius:50%;
    background-color:rgb(82,92,105);
}
.footer-p{
    font-size:14px;
    margin-top:30px;
    margin-bottom: 20px;
}
.footer-lower{
    text-align:left;
    font-weight: bold;
    color:rgb(82,92,105);
    margin-top:30px;
    margin-bottom: 20px;
    line-height: 25px;
    width:190px;
    font-size: 18px;
}
